* {
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

h1 {
  font-size: 40px;
  color: white;
  font-family: "Changa One", cursive;
  text-shadow: 4px 4px rgb(255, 33, 207);
  margin-top: 80px;
}

p {
  color: white;
  line-height: 28px;
  font-size: 20px;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  margin: 0;
  height: 100%;
  background-color: #8383ff;
  background-image: radial-gradient(#5540be 1px, #8383ff 1px);
  background-size: 20px 20px;
}

main {
  width: 500px;
  z-index: 1;
  margin-bottom: 80px;
}

#cat {
  position: fixed;
  bottom: -25px;
  left: 0;
  display: initial;
}

#cat.bounce {
  animation: bounce;
  animation-duration: 2s;
}

#cat.hide {
  display: none;
}

#mwrar {
  bottom: 200px;
  position: fixed;
  left: 100px;
  display: none;
}

#cat:hover + #mwrar {
  display: block;
}

.intro {
  text-align: center;
  max-width: 500px;
  padding-bottom: 44px;
}

.center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

form {
  height: 60px;
}

form#add-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  background-color: #2a1591;
  font-size: 16px;
  color: white;
  min-width: 100%;
  min-height: 60px;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(41, 24, 130, 0.26),
    0 6px 20px 0 rgba(41, 24, 130, 0.25);
}

input.textField {
  background-color: #291882;
  border: none;
  border-radius: 4px;
  min-height: 60px;
  min-width: 70%;
  color: white;
  font-size: 18px;
  padding: 20px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
}

.placeholder {
  background: none;
  border: none;
  width: 500px;
  padding-top: 40px;
}

.nothing-completed {
  background: none;
  border: none;
  width: 500px;
  padding-top: 40px;
}

.nothing-completed > picture {
  width: 100%;
}

.placeholder > picture {
  width: 100%;
}

picture > img {
  width: 100%;
  height: auto;
}

.bottom-line {
  display: flex;
  justify-content: space-between;
}

#submit-btn {
  background: rgb(255, 33, 207);
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  min-height: 60px;
  min-width: 25%;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: rgb(213, 0, 167);
}

#submit-btn:active {
  background-color: rgb(255, 33, 207);
}

#show_completed:active {
  background-color: rgb(255, 33, 207);
}

input[type="checkbox"] {
  height: 28px;
  width: 28px;
  border-radius: 100px;
  margin-right: 12px;
  border: 2px solid white;
  filter: hue-rotate(90deg);
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}

.tick {
  width: 12px;
  height: 12px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tick::before {
  content: "✓";
  font-size: 20px;
  display: none;
}

.done .tick::before {
  display: inline;
}

.tag {
  border: none;
  background: #291882;
  padding: 8px;
  color: white;
  min-height: 24px;
  border-radius: 4px;
}

.tag:hover {
  background-color: #5540be;
}

.tag:active {
  background-color: rgb(255, 33, 207);
}

/* Change `display: flex` to `display: none` */
.empty-state {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

/* Add this below the other styles */
.todo-list:empty {
  display: none;
}

.todo-list:empty + .empty-state {
  display: flex;
}

.hide {
  display: none;
}

p.you-lazy {
  text-align: center;
}

.none-completed {
  padding-top: 8px;
  padding-bottom: 20px;
}

.well-done {
  padding-top: 8px;
  padding-bottom: 20px;
}
